version: 2.1

orbs:
  go: circleci/go@1.2.0

jobs:
  # checkout repo and prepare workspace
  setup-repo:
    executor:
      name: go/default
      tag: '1.17'
    steps:
      - run:
          name: pwd
          command: |
            pwd
            ls
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
  # build source
  build:
    executor:
      name: go/default
      tag: '1.17'
    steps:
      - run: make build
  # test and store results
  test:
    executor:
      name: go/default
      tag: '1.17'
    steps:
      - run:
          name: pwd
          command: |
            pwd
            ls
      - run:
          name: Run tests
          command: |
            mkdir -p /tmp/test-reports
            gotestsum --junitfile /tmp/test-reports/unit-tests.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output
      - store_test_results:
          path: /tmp/test-reports

workflows:
  build_and_test:
    jobs:
      - setup-repo
      - test:
          requires:
            - setup-repo
      - build:
          requires:
            - test
